%header.navbar.navbar-fixed-top
  .container
    .row
      .col-md-6
        = link_to "#{t(:app_name)}", root_path, id: "logo", class: "logo"
      .col-md-6
        %nav
          %ul.header_btn
            %li{:class => "lang_mnu#{" active" if I18n.locale == :en}"}
              = link_to 'En', {locale: :en}
            %li{:class => "lang_mnu#{" active" if I18n.locale == :ru}"}
              = link_to 'Рус', {locale: :ru}
            %li.nav-item
              %button.toggle_mnu
                %span.sandwich
                  %span.sw-topper
                  %span.sw-bottom
                  %span.sw-footer
  %nav.top_mnu
    %ul
      %li.nav-item
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline', id: 'user_sing_in'})do |f|
          .form-group
            = f.label :email, class: "sr-only"
            = f.email_field :email, autofocus: true, id: "inputEmail", class: " signin-field",  placeholder: "#{t(:email)}"
          .form-group
            = f.label :password, class: "sr-only"
            = f.password_field :password, autocomplete: "off", id: "inputPassword", class: "signin-field", placeholder: "#{t(:password)}"
          .btn
            = f.button "#{t(:log_in)}"
      %li
        %a(href="#about")= "#{t(:about)}"
        %a(href="#sing_up")= t(:sign_up)
        %a(href="#review")= "#{t(:review)}"

