
#home_box.container
  - flash.each do |key, value|
    %div{:class => "#{flash_class(key)}"}
      = value
  -#.col-md-6.welcome-box
  -#  .welcome-message
  -#    %h2.center= t(:welcome)
  .col-md-12.welcome_box.signin_box
    %br/
    %br/
    %p.center
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to "#{t(:sign_in_with)} #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
          %br/
    %br/
    %p.center
      %em= t(:or)
    %br/
    = render "static_pages/sing_up_form"
