- flash.each do |key, value|
  %div{:class => "#{flash_class(key)}"}
    = value

.col-md-5.col-md-offset-7.col-sm-6.col-sm-offset-6.welcome_box.signin_box
  %h3.formhead= t(:sign_up)
  %p.button
    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        = link_to "#{t(:sign_up_in_with)} #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
        %br/
  %p.center
    %em= t(:or)
  = render "static_pages/sing_up_form"
