%h1= t(:edit_profile)
= form_for(@profile) do |p|
  = p.label :location
  = p.text_field :location, class: "form_control"
  %br/
  = p.label :gender
  = p.select :gender, options_for_select(["Male", "Female"])
  %br/
  = p.label :birthday
  = p.date_select :birthday, start_year: 1910
  %br/
  = p.submit "#{t(:update)}"
= link_to "#{t(:cancel_my_account)}", users_path, data: { confirm: "Are you sure?" }, method: :delete
