-#- @image.comments.each do |comment|

%p
  %strong "#{t(:commenter)}:"
  = User.where(:id == comment.user_id).first.email
%p
  %strong "#{t(:comment)}:"
  = comment.body
%p
  = link_to "#{t(:destroy_image)}", [comment.image, comment], |
    method: :delete,                                       |
    data: { confirm: "#{t(:are_you_sure)}" }                     |