%h1= t(:all_comments)

-#= render @comments

- @comments.each do |comment|
  .comments
    %h3 "#{t(:titul_image)} #{comment.image.category.title}"
    = image_tag(comment.image.image.thumb.url, alt: 'Image') if comment.image.image?
    %p
      %strong "#{t(:commenter)}:"
      = User.where(:id => [comment.user_id]).first.email

    %p
      %strong "#{t(:comment)}:"
      = comment.body

-#= link_to "#{t(:all_images)}", controller: 'images'
-#= link_to "#{t(:all_categories)}", controller: 'categories'
-#= link_to 'Welcome', controller: 'welcome'