%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Gallery", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        -#%li= link_to "Find Friends", users_path, class: "header-link"
        %li= link_to "All comments", comments_path, class: "header-link"

        %li= link_to "All images", images_path, class: "header-link"

        %li= link_to "All categories", categories_path, class: "header-link"

        -#%li= link_to "Popular categories", select(:category_id, @category_options), class: "header-link"

        %li
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "header-link"
