%header.navbar.navbar-fixed-top.header_top_app
  .container
    .row
      .col-md-8.col-sm-8.header_app
        = link_to "#{t(:home_page)}", root_path, id: "logo", class: "logo"
        %nav
          %ul.nav.navbar-nav
            %li= select(:category, :user_id, @category_options_sort, {prompt: "#{t(:popular_category)}"}, {:class => 'custTag'})
      .col-md-4.col-sm-4.header_menu_app
        %nav
          %ul.header_btn
            %li(class="lang_mnu" )
              = link_to "#{t(:sign_out)}", destroy_user_session_path, method: :delete, class: "lang_mnu"
            %li{:class => "lang_mnu#{" active" if I18n.locale == :en}"}
              = link_to 'En', {locale: :en}
            %li{:class => "lang_mnu#{" active" if I18n.locale == :ru}"}
              = link_to 'Рус', {locale: :ru}
            %li.nav-item
              %button.toggle_mnu
                %span.sandwich
                  %span.sw-topper
                  %span.sw-bottom
                  %span.sw-footer

    %nav.top_mnu
      %ul
        %li
          = link_to "#{t(:all_comments)}", comments_path, class: "header-link"
          = link_to "#{t(:all_images)}", images_path, class: "header-link"
          = link_to "#{t(:all_categories)}", categories_path, class: "header-link"
