.col-md-2
  %h4= link_to "#{t(:my_categories)} #{@user.full_name}", profile_path(@user.id)
  %p
    %b= "#{t(:location)}:"
    = @user.profile.location
  %p
    %b= "#{t(:gender)}:"
    = @user.profile.gender
  %p
    %b= "#{t(:birthdate)}:"
    = @user.profile.birthday
  - if @user == current_user
    %hr.sidebar-hr/
    %p
    %p= link_to "#{t(:edit_profile)}", edit_profile_path(current_user.id)
    %p= link_to "#{t(:edit_user)}", edit_user_registration_path
    / <p><haml_silent></haml_silent></p>
    %p= link_to "#{t(:my_newsfeed)}", newsfeed_path
    %p
  %hr.sidebar-hr/
