%h1 Listing categories
= link_to 'New categories', new_category_path
%table
  %tr
    %th
    %th Title
    %th Text
    %th
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td= link_to(image_tag(@category_images[category].image.thumb.url, alt: 'Image'), category_path(category)) if @category_images.include?(category)
      %td= category.title
      %td= category.text
      %td= render 'subs/sub_link', subable_type: "Category", item_c: category
      %td= link_to 'Show category', category_path(category)
      %td= link_to 'Edit category', edit_category_path(category)
      %td= link_to 'Destroy category', category_path(category),
        method: :delete,
        data: { confirm: 'Are you sure?' }

= link_to 'Images', controller: 'images'
= link_to 'Comments', controller: 'comments'
-#= link_to 'Welcome', controller: 'welcome'