%p
  %strong Title:
  = @category.title
%p
  %strong Text:
  = @category.text

= paginate @category_img

= render @category_img

|
= link_to 'Add new image', new_image_path
|
= link_to 'Edit category', edit_category_path(@category)
|
= link_to 'Back to category', categories_path
