%p
  %strong= "#{t(:title)}"
  = @category.title
%p
  %strong= "#{t(:text)}"
  = @category.text

= paginate @category_img

= render @category_img

|
= link_to "#{t(:add_image)}", new_image_path
|
= link_to "#{t(:edit_category)}", edit_category_path(@category)
|
= link_to "#{t(:back_to_category)}", categories_path
