%h1= t(:all_images)
%div= paginate @images

- @images.each do |image|
  %div
    %h2= link_to "#{t(:titul_image)} #{image.category.title}", image_path(image)

    = image_tag(image.image.thumb_all.url, alt: 'Image') if image.image?

    = link_to "#{t(:destroy_image)}", image_path(image),
            method: :delete,
            data: { confirm: "#{t(:are_you_sure)}"}


= link_to "#{t(:add_image)}", new_image_path

= link_to "#{t(:categories)}", controller: 'categories'
= link_to "#{t(:comments)}", controller: 'comments'
-#= link_to 'Welcome', controller: 'welcome'

%div= paginate @images
