= link_to "#{t(:all_images)}", images_path
%h1= "#{t(:titul_image)} #{@image.category.title}"

= image_tag(@image.image.url, alt: 'Image') if @image.image?

-#= link_to(image_tag(@image.image.thumb.url, alt: 'Image'), @image.image.url, target: '_blank') if @image.image?

-#= link_to(image_tag(@image.image.small_thumb.url, alt: 'Image'), @image.image.url, target: '_blank') if @image.image?

= render '/likes/like_link', likable_type: "Image", item: @image

%p= @image.body


%h2= t(:comments)
= render @image.comments


%h2= "#{t(:add_comment)}:"
= form_with(model: [ @image, @image.comments.build ], local: true) do |form|
  %p
    = form.label :body
    %br/
    = form.text_area :body
  %p
    = form.submit


= link_to "#{t(:edit_image)}", edit_image_path(@image)
|
= link_to "#{t(:back_to_image)}", images_path
