.container
  .row
    .col-md-12
      %h2= "#{t(:titul_image)} #{@image.category.title}"
  .row
    .col-md-12
      .category_img
        = image_tag(@image.image.thumb_all.url, alt: 'Image') if @image.image?
        = render '/likes/like_link', likable_type: "Image", item: @image

  .row
    .col-md-12
      %h2= t(:comments)
      = render @image.comments

  .row
    .col-md-12
      %h2= "#{t(:add_comment)}:"
      = form_with(model: [ @image, @image.comments.build ], local: true) do |form|
        %p
          = form.label :body
          %br/
          = form.text_area :body
        %p
          = form.submit
  .row
    .col-md-12
      %p
        = link_to "#{t(:back_to_image)}", images_path, class: "back_images"


-#= link_to "#{t(:edit_image)}", edit_image_path(@image)
-#|

