!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %title AppGallery
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "static_pages/static_header"

    %section.container-fluid.main_head
      %h1.center= t(:welcome)
      - static_pages = StaticPagesController.new
      = carousel_for(static_pages.image_urls)
    %section
      %h1 dddddddddd

    = yield

    %p.notice= notice
    %p.alert= alert
