!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %title AppGallery
    = csrf_meta_tags
    = csp_meta_tag
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.css")

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script(src="https://kit.fontawesome.com/d7c798451e.js")
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .loader
      .loader_inner
    = render "static_pages/static_header"

    .main_head
      .container-fluid
        .row
          .col-md-12.container-bord
            - static_pages = StaticPagesController.new
            = carousel_for(static_pages.image_urls)
      .top_wrapper
        .top_descr
          .top_center
            .top_text
              %h1.center= t(:welcome)
    %section.s-king.inverse.section-overley(id="about" style="background-image: url(/categories/15.jpg);")
      .container
        .row
          .col-md-12
            %h2= "#{t(:about)}"
        .row
          .col-lg-5.col-md-12
            %h3 The Gallery is
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col-lg-7.col-md-12
            .section_gallery.fotorama(data-nav="thumbs" data-thumbwidth="110" data-thumbheights="60" data-thumbborderwidth="5" data-thumbmargin="10" data-width="100%")
              %img(src="/categories/fotorama/1.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/2.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/3.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/4.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/5.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/6.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/7.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/8.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/9.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/10.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/11.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/12.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/13.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/14.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/15.jpg" alt="Foto's gallery")
              %img(src="/categories/fotorama/16.jpg" alt="Foto's gallery")
    %section.s-call.inverse(id="sing_up" style="background-image: url(/categories/5.jpg);")
      .container
        .row
          = yield
    %section.s-review.inverse.section-overley(id="review" style="background-image: url(/categories/55.jpg);")
      .container
        .row
          .col-sm-12
            %h2.text-center.h-first= "#{t(:review)}"
          .col-sm-8.col-sm-offset-2
            .quotes
              #carouselExp.carousel.slide.reviews{"data-ride" => "carousel"}
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#carouselExp"}
                  %li{"data-slide-to" => "1", "data-target" => "#carouselExp"}
                  %li{"data-slide-to" => "2", "data-target" => "#carouselExp"}
                .carousel-inner
                  .item.active
                    .review_header Julia
                    .review_date 29.08.2019
                    .review_stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                    .review_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .item
                    .review_header Alexandra
                    .review_date 25.07.2019
                    .review_stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                    .review_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .item
                    .review_header Victoria
                    .review_date 23.06.2019
                    .review_stars
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                    .review_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %footer.main_footer.bg_dark
      .container
        .row
          .col-md-12
            &copy; 2019 Alex Alex
            .social_wrap
              %ul
                %li
                  %a(href="#" target="_blank")
                    %i.fab.fa-facebook
                    %i.fab.fa-twitter
                    %i.fab.fa-vk
                    %i.fab.fa-github
